<div class="modal-card">
    <button class="close-film-card">
      <svg class="icon__close">
        <use class="icon-svg" href="../src/images/icon/sprite.svg#icon-close">
        </use>
      </svg>
    </button>
    <article class="">
      <img
          src="./images/intro.png"
          alt="{{name}}"
          class="poster__path"
      />
     <h1 class="title__card__film">{{original_title}}</h1> 
     <ul class="block__movie__information">
      {{#each this}}
        <li class="list card__inform"><span class="movie__information">Vote / Votes</span>
          <span class="vote">{{vote_count}}</span> /
          <span class="votes">{{vote_average}}</span></li>
        <li class="list card__inform"><span class="movie__information">Popularity</span>
          <span class="popularity">{{popularity}}</span></li>
        <li class="list card__inform"><span class="movie__information">Original Title</span>
          <span class="title__movie__inform">{{original_title}}</span></li>
        {{#each genres}}
        <li class="list card__inform"><span class="movie__information">Genre</span>
          <span class="genre__iform">{{name}}</span></li>
        {{/each}}
      </ul>
        <div class="description__wrapper__card">
          <p class="title__description__card">About</p>
          <p class="description__card">{{overview}}</p>
        </div>
      {{/each}}
      <div class="wrapper__button__card">
        <button class="button accent">add to Watched</button>
        <button class="button">add to queue</button>
      </div>
</div>